.bottom-section {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  justify-content: space-between;
  width: $footer-section-width;
  margin: $footer-section-margin;
  border-top: $footer-section-border-width solid $footer-section-border-color;

  .nintendo-switch-mode-logo {
    &-handheld {
      width: $footer-nintendo-switch-mode-logo-width;
    }
  }

  .controller-hints {
    display: grid;
    grid-auto-flow: column;
    gap: $footer-controller-hints-gap;
  }
}
