.home-screen {
  @extend %screen;
  position: relative;
  grid-template-rows: max-content 4fr 2fr 1fr;

  > section {
    overflow: hidden;
    display: grid;
    align-items: center;
    box-sizing: border-box;
  }
}
