.home-screen {
  @extend %screen;
  position: relative;
  grid-template-rows: max-content 4fr 2fr 1fr;

  > section {
    display: grid;
    align-items: center;
    width: inherit;
  }

  .users-section {
    padding: $users-section-padding;
  }

  .games-section {
    overflow: auto;
    margin-right: $games-section-margin-right;
    padding: $games-section-padding;
    -ms-overflow-style: none; // IE and Edge
    scrollbar-width: none; // Firefox

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .navigation-section {
  }

  .footer-section {
    width: $footer-section-width;
    margin: $footer-section-margin;
    border-top: $footer-section-border-width solid $footer-section-border-color;
  }
}
