@mixin animation($animation...) {
  -webkit-animation: #{$animation};
  -moz-animation: #{$animation};
  -ms-animation: #{$animation};
  -o-animation: #{$animation};
  animation: #{$animation};
}

@mixin border-radius($value: 50%) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
  // keeps background from busting out of border 
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

@mixin box-shadow($box-shadow: 2px 4px 2px 0 #000000) {
  -webkit-box-shadow: #{$box-shadow};
  -moz-box-shadow: #{$box-shadow};
  box-shadow: #{$box-shadow};
}

@mixin bp-small {
  @media only screen and (max-width: 600px) {
    @content;
  }
}

@mixin bp-medium {
  @media only screen and (min-width: 600px) and (max-width: 992px) {
    @content;
  }
}

@mixin bp-large {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }

  @-moz-keyframes #{$animation-name} {
    @content;
  }

  @-ms-keyframes #{$animation-name} {
    @content;
  }

  @-o-keyframes #{$animation-name} {
    @content;
  }

  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin opacity($opacity: 0.5) {
  opacity: $opacity;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="$opacity * 100")";
  filter: alpha(opacity=$opacity * 100);
  zoom: 1;
}

@mixin safari-polyfill() {
  @media not all and (min-resolution: .001dpcm) {
    @supports (-webkit-appearance: none) {
      @content;
    }
  }
}

@mixin transform($transforms) {
  -webkit-transform: $transforms;
  -moz-transform: $transforms;
  -ms-transform: $transforms;
  transform: $transforms;
}

@mixin transition($transition...) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin box-shadow-animation($startColor: rgba(0, 0, 0, 0), $endColor: rgba(0, 195, 227, 0.1)) {
  @include animation('selected .6s');
  @include keyframes(selected) {
    from { @include box-shadow(0 0 0 0 $startColor); }
    to { @include box-shadow(0 0 10px 5px $endColor); }
  }
}

//////////////////////////////////////////////////
//
//  GLOBAL ANIMATIONS
//
//////////////////////////////////////////////////
@mixin glow-keyframes {
  @include keyframes(glow) {
    from { border-color: $glowing-border-color-from-hover; }
    to { border-color: $glowing-border-color-to-hover; }
  }
}

@mixin glowing-border-animation {
  @include animation(glow .5s ease-in-out infinite alternate);
  @include glow-keyframes;
}

@mixin shaking-border-animation {
  @include animation(shake 0.2s, glow .5s ease-in-out infinite alternate);
  @include keyframes(shake) {
    10% { @include transform(translate(-1px, 0)); }
    25% { @include transform(translate(2px, 0)); }
    75% { @include transform(translate(-2px, 0)); }
  }
  @include glow-keyframes;
}
