.scale-animation {
  @include transform(scale(1.05));
}

.box-shadow-animation {
  @include box-shadow-animation;
}

%disable-selection {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  cursor: default;
}

%screen {
  overflow: hidden;
  display: grid;
  width: $nintendo-switch-screen-width;
  height: $nintendo-switch-screen-height;

  &:focus {
    outline: $nintendo-switch-screen-outline;
  }
}
