$font-family: Verdana, sans-serif;
$nintendo-switch-font-family: 'FOT-Rodin NTLG Pro', sans-serif;

$font-size-xxs: 10px;
$font-size-xs: 12px;
$font-size-small: 14px;
$font-size-regular: 16px;
$font-size-large: 18px;
$font-size-xl: $font-size-large + 2;  // 20px
$font-size-xxl: $font-size-xl + 2;    // 22px
$font-size-xxxl: $font-size-xxl + 2;  // 24px

$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

$link-color: $alizarin-crimson;
$link-color-hover: $carmine;

a {
  color: $link-color;
  font-weight: $font-weight-semi-bold;
  text-decoration: none;
  @include transition(all .8s ease);

  &:hover {
    position: relative;
    top: 1px;
    color: $link-color-hover;
  }
}
