////////////////////////////// NINTENDO SWITCH //////////////////////////////
$nintendo-switch-color: $white;
$nintendo-switch-border-width: 32px;
$nintendo-switch-border-color: $black;
$nintendo-switch-border-left-width: 48px;
$nintendo-switch-border-right-width: $nintendo-switch-border-left-width;
$nintendo-switch-border-radius: 12px;


////////////////////////////// SCREEN //////////////////////////////
$screen-width: 640px;
$screen-height: 360px;
$screen-bg-color: $mine-shaft;
$screen-outline: $black;

$screen-padding-x: 20px;
$screen-padding-y: 20px;
$screen-padding: $screen-padding-x $screen-padding-y;


////////////////////////////// LOCK SCREEN //////////////////////////////
$lock-screen-featured-news-width: calc(#{$screen-width} / 3);
$lock-screen-featured-news-width-expanded: $screen-width;
$lock-screen-featured-news-height: $screen-height;
$lock-screen-featured-news-bg-color: $cod-gray;
$lock-screen-featured-news-list-gap: 10px;
$lock-screen-featured-news-list-gap-expanded: 5px;
$lock-screen-featured-news-list-padding-expanded: 20px 0;

$lock-screen-home-menu-width: calc(#{$screen-width} - (#{$screen-width} / 3));
$lock-screen-home-menu-width-expanded: $screen-width;
$lock-screen-home-menu-height: $screen-height;
$lock-screen-home-menu-padding: $screen-padding;
$lock-screen-home-menu-icon-width: 72px;
$lock-screen-home-menu-icon-height: $lock-screen-home-menu-icon-width;

$unlock-bar-gap: 10px;
$unlock-bar-width: inherit;
$unlock-bar-height: 70px;
$unlock-bar-font-weight: $font-weight-regular;
$unlock-bar-bullet-gap: 15px;
$unlock-bar-bullet-width: 4px;
$unlock-bar-bullet-height: $unlock-bar-bullet-width;
$unlock-bar-bullet-border-width: 2px;
$unlock-bar-bullet-border-color: $white;
$unlock-bar-bullet-bg-color-active: $white;


////////////////////////////// TIME-WIFI-BATTERY //////////////////////////////
$time-wifi-battery-bar-gap: 10px;
$time-wifi-battery-bar-height: 36px;
$time-wifi-battery-bar-margin: $screen-padding;
$time-wifi-battery-bar-font-size: $font-size-xs;
$time-wifi-battery-bar-font-weight: $font-weight-semi-bold;
$time-meridian-font-size: $font-size-xxs;
$wifi-icon-width: 14px;
$battery-icon-width: 17px;


////////////////////////////// USERS //////////////////////////////
$users-section-padding: $screen-padding-x $screen-padding-y;
$users-grid-template-rows-size: minmax(30px, 30px);
$users-grid-template-columns-size: minmax(30px, 30px);
$users-gap: 5px;
$users-width: calc(#{$screen-width} / 2);
$users-height: 30px;
$user-icon-width: 24px;
$user-icon-height: 24px;
$user-icon-padding: 1px;
$user-icon-border-width: 2px;
$user-icon-border-width-focus: 3px;
$user-icon-border-color: $gray;
$user-name-width: max-content;
$user-name-color: $robins-egg-blue;
$user-name-font-size: $font-size-xs;


////////////////////////////// GAMES //////////////////////////////
$games-section-padding: 20px 0 0 40px;
$game-cover-width: 136px;
$game-cover-height: $game-cover-width;
$game-cover-padding: 1px;
$game-cover-border-width: 4px;
$game-cover-border-width-focus: 3px;
$game-cover-border-radius: 2px;
$game-background-size: calc(#{$game-cover-width} - 1px) calc(#{$game-cover-width} - 1px);
$game-cover-outer-width: calc(#{$game-cover-width} + (2 * #{$game-cover-padding}) + (2 * #{$game-cover-border-width}));
$game-width: $game-cover-outer-width;
$game-height: $game-width;
$game-margin: 0 calc(-2 * #{$game-cover-padding});
$game-heading-top: -28px;
$game-heading-min-width: $game-cover-width;
$game-heading-max-width: 200px;
$game-heading-width-focus: $game-heading-max-width;
$game-title-long-margin-top: -28px;
$game-title-long-padding-right: 50px;
$game-title-long-margin-left: calc(100% + #{$game-title-long-padding-right});
$game-title-color: $robins-egg-blue;
$game-title-font-size-focus: $font-size-small;
$game-all-software-width: $game-width;
$game-all-software-height: $game-height;
$game-all-software-title-top: -30px;
$game-all-software-title-color: $robins-egg-blue;
$game-all-software-title-font-size: $font-size-small;
$game-all-software-icon-width: 90px;
$game-all-software-icon-height: $game-all-software-icon-width;
$game-all-software-icon-border-width: $game-cover-border-width-focus;
$games-clear-width: 40px;
$games-clear-height: $game-cover-outer-width;


////////////////////////////// NAVIGATION //////////////////////////////
$navigation-gap: 5px;
$nav-item-icon-width: 36px;
$nav-item-icon-height: $nav-item-icon-width;
$nav-item-icon-border-width: 3px;
$nav-item-title-width: max-content;
$nav-item-title-color: $robins-egg-blue;
$nav-item-title-font-size: $font-size-xs;


////////////////////////////// NAVIGATION //////////////////////////////
$footer-section-width: calc(#{$screen-width} - (2 * 20px)); // Add margin * 2
$footer-section-margin: 0 20px;
$footer-section-border-width: 1px;
$footer-section-border-color: $white;
$footer-nintendo-switch-mode-logo-width: 36px;
$footer-controller-hints-gap: 20px;


////////////////////////////// CONTROLLER BUTTON //////////////////////////////
$controller-button-gap: 10px;
$controller-button-gap-small: 5px;
$controller-button-left: $screen-padding-x;
$controller-button-icon-width: 24px;
$controller-button-icon-width-small: 12px;
$controller-button-icon-height: $controller-button-icon-width;
$controller-button-icon-height-small: $controller-button-icon-width-small;
$controller-button-icon-bg-color: $white;
$controller-button-icon-color: $mine-shaft;
$controller-button-icon-font-size-small: $font-size-xxs;
$controller-button-icon-font-weight: $font-weight-semi-bold;
$controller-button-icon-line-height: $controller-button-icon-height;
$controller-button-icon-line-height-small: $controller-button-icon-height-small;
$controller-button-text-font-size: $font-size-regular;
$controller-button-text-font-size-small: $font-size-xs;
$controller-button-text-letter-spacing: 1px;


////////////////////////////// MISC //////////////////////////////
$broken-image-background: repeating-linear-gradient(45deg, #0005, #0005 10px, #CCC5 10px, #CCC5 20px);

$card-width: 160px;
$card-height: 80px;
$card-title-bg-color: rgba(0, 0, 0, 0.75);

$glowing-border-color-from-hover: $robins-egg-blue;
$glowing-border-color-to-hover: $ice-cold;
