.unlock-bar-wrapper {
  position: relative;
  display: grid;
  justify-content: center;
  gap: 10px;
  height: $unlock-bar-height;
  font-size: $font-size-large;
  font-weight: $font-weight-regular;

  &-text {
    align-self: flex-end;
    margin: 0;
  }

  .to-lock-screen-button-wrapper {
    position: absolute;
    top: 50%;
    left: 20px;
    display: grid;
    grid-template-columns: max-content auto;
    gap: 10px;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);

    &-text {
      font-size: $font-size-xs;
      font-weight: $font-weight-light;
    }
  }
}
