.unlock-bar {
  position: relative;
  display: grid;
  justify-content: center;
  gap: $unlock-bar-gap;
  width: $unlock-bar-width;
  height: $unlock-bar-height;
  font-weight: $unlock-bar-font-weight;

  .unlock-bar__text {
    align-self: flex-end;
    margin: 0;
  }

  .controller-button {
    position: absolute;
    top: 50%;
    left: $controller-button-left;
    @include transform(translateY(-50%));
  }
}
