.lock-screen {
  grid-template-columns: repeat(2, max-content);
  @extend %screen;

  &>section {
    position: relative;
    display: grid;
    grid-template-rows: 1fr max-content;
    height: $screen-section-height;
    transition: width .1s linear;
  }
}
