$link-color: $alizarin-crimson;
$link-color-hover: $carmine;

$console-font-color: $white;

$screen-width: 800px;
$screen-height: 450px;
$screen-bg-color: $mine-shaft;
$screen-outline: $black;

$screen-padding-top: 30px;
$screen-padding-bottom: 20px;
$screen-padding-x: 20px;
$screen-padding: $screen-padding-top $screen-padding-x $screen-padding-bottom;
$lock-screen-featured-news-width: calc(250px - (2 * #{$screen-padding-x}));
$lock-screen-home-menu-width: calc(550px - (2 * #{$screen-padding-x}));
$screen-section-width-expanded: calc(#{$screen-width} - (2 * #{$screen-padding-x}));
$screen-section-height: calc(#{$screen-height} - (#{$screen-padding-top} + #{$screen-padding-bottom}));

$lock-screen-featured-news-bg-color: $cod-gray;

$card-width: 200px;
$card-height: 100px;
$card-bg-color: $gray;

$console-button-bg-color: $white;
$console-button-text-color: $mine-shaft;

$unlock-bar-height: 70px;
$unlock-bar-bullet-border-color: $white;
$unlock-bar-bullet-bg-color-active: $white;
