.featured-news {
  z-index: 1;
  width: $lock-screen-featured-news-width;
  height: $lock-screen-featured-news-height;
  padding: $screen-padding;
  background-color: $lock-screen-featured-news-bg-color;

  &--collapse {
    width: 0;
    padding: 0;
    visibility: hidden;
  }

  &--expand {
    width: $lock-screen-featured-news-width-expanded;

    .featured-news__list {
      grid-auto-flow: column;
      gap: $lock-screen-featured-news-list-gap-expanded;
      justify-content: center;
    }
  }

  .featured-news__list {
    overflow-y: auto;
    display: grid;
    gap: $lock-screen-featured-news-list-gap;
    align-items: center;
  }
}
