.home-menu {
  width: $lock-screen-home-menu-width;
  height: $lock-screen-home-menu-height;
  padding: $lock-screen-home-menu-padding;

  &--collapse {
    display: none;
    width: 0;
    padding: 0;
  }

  &--expand {
    width: $lock-screen-home-menu-width-expanded;
  }

  .home-menu__icon {
    width: $lock-screen-home-menu-icon-width;
    height: $lock-screen-home-menu-icon-height;
    margin: 0 auto;
    @include border-radius;
  }
}
