.lock-screen {
  @extend %screen;
  grid-template-columns: repeat(2, max-content);

  &>section {
    position: relative;
    display: grid;
    grid-template-rows: 1fr max-content;
    align-items: center;
    justify-content: center;
    @include transition(width .1s linear);
    box-sizing: border-box;
  }
}
