.card {
  display: grid;
  align-items: center;
  justify-content: center;
  width: $card-width;
  height: $card-height;
  background: $broken-image-background;

  .card__title {
    background-color: $card-title-bg-color;
  }
}
