.bullets {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: $unlock-bar-bullet-gap;
  justify-content: center;

  .bullet {
    width: $unlock-bar-bullet-width;
    height: $unlock-bar-bullet-height;
    border: $unlock-bar-bullet-border-width solid $unlock-bar-bullet-border-color;
    @include border-radius;

    &--filled {
      background-color: $unlock-bar-bullet-bg-color-active;
    }
  }
}
