.app {
  display: grid;
  justify-content: center;
  font-family: $font-family;
  text-align: center;
}

.nintendo-switch {
  width: $screen-width;
  height: $screen-height;
  border: 32px solid black;
  border-left-width: 48px;
  border-right-width: 48px;
  @include border-radius(12px);
  background-color: $screen-bg-color;
  color: $console-font-color;
  @extend %disable-selection;
}
