.games {
  display: grid;
  grid-auto-flow: column;
  padding: $games-section-padding;
  -ms-overflow-style: none; // IE and Edge
  scrollbar-width: none; // Firefox

  &::-webkit-scrollbar {
    display: none;
  }

  .game {
    position: relative;
    width: $game-width;
    height: $game-height;
    margin: $game-margin;
    background: $broken-image-background;
    background-position: center center;
    background-size: $game-background-size;
    background-repeat: no-repeat;

    &:focus {
      outline: none;

      .game-heading {
        width: $game-heading-width-focus;

        .game-title {
          font-size: $game-title-font-size-focus;
        }

        &-long-title {
          overflow: hidden;

          .game-title {
            display: inline-block;
            padding-right: $game-title-long-padding-right;
            @include animation(marquee 15s linear 2s infinite);

            &::after {
              content: attr(data-text);
              display: block;
              margin-top: $game-title-long-margin-top;
              margin-left: $game-title-long-margin-left;
            }

            @include keyframes(marquee) {
              0% {
                @include transform(translateX(0));
              }

              50%,
              100% {
                @include transform(translateX(-100%));
              }
            }
          }
        }
      }

      .game-cover {
        margin: 1px; // Fix prevent moving content because of different border-width
        border-width: $game-cover-border-width-focus;
        @include glowing-border-animation;
      }
    }

    .game-heading {
      position: absolute;
      top: $game-heading-top;
      left: 50%;
      min-width: $game-heading-min-width;
      max-width: $game-heading-max-width;
      @include transform(translateX(-50%));

      .game-title {
        color: $game-title-color;
        font-size: 0;
        white-space: nowrap;
      }
    }

    .game-cover {
      display: block;
      width: $game-cover-width;
      height: $game-cover-height;
      padding: $game-cover-padding;
      border: $game-cover-border-width solid transparent;
      @include border-radius($game-cover-border-radius);
    }
  }

  .all-software {
    display: grid;
    align-items: center;
    justify-content: center;
    width: $game-all-software-width;
    height: $game-all-software-height;

    &:focus {
      outline: none;

      .all-software-icon {
        @include glowing-border-animation;

        &.clicked {
          background-image: url("@images/icons/all-software-clicked.png");
        }

        .all-software-title {
          display: inherit;
        }
      }
    }

    .all-software-icon {
      position: relative;
      width: $game-all-software-icon-width;
      height: $game-all-software-icon-height;
      border: $game-all-software-icon-border-width solid transparent;
      @include border-radius;
      background-image: url("@images/icons/all-software.png");
      background-size: cover;
      background-repeat: no-repeat;

      .all-software-title {
        display: none;
        position: absolute;
        top: $game-all-software-title-top;
        left: 50%;
        color: $game-all-software-title-color;
        font-size: $game-all-software-title-font-size;
        white-space: nowrap;
        @include transform(translateX(-50%));
      }
    }
  }

  .clear {
    width: $games-clear-width;
    height: $games-clear-height;
  }
}
